<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !session[:user] %>
      <%= form_tag('/auth/my_provider', method: 'post', data: {turbo: false}) do %>
        <button type='submit'>Login</button>
      <% end %>
    <% else %>
      Welcome <%= session[:user]['email'] %> | <%= link_to 'Logout', '/logout' %>
    <% end %>

    <%= yield %>
  </body>
</html>
